<div id="products-portfolio-wrapper">

  <div id="products">
    <div id="featured-products" class="featured-products">
      
      <div class="featured-product" style="
  background-image: url(./assets/images/slide07.jpg)">
        <a href="#">
          <i class="fa fa-star-o"></i>
          <h4>Residential Pools</h4>
        </a>
      </div>
      
      <div class="featured-product" style="
  background-image: url(./assets/images/slide02.jpg)">
        <a href="#">
          <i class="fa fa-lightbulb-o"></i>
          <h4>Waterfalls</h4>
        </a>
      </div>
      
      <div class="featured-product" style="
  background-image: url(./assets/images/slide08.jpg)">
        <a href="#">
          <i class="fa fa-home"></i>
          <h4>Spas</h4>
        </a>
      </div>
      <div class="featured-product" style="
  background-image: url(./assets/images/slide04.jpg)">
        <a href="#">
          <i class="fa fa-wrench"></i>
          <h4>Outdoor Kitchens</h4>
        </a>
      </div>
      <div class="featured-product" style="
  background-image: url(./assets/images/slide05.jpg)">
        <a href="#">
          <i class="fa fa-signal"></i>
          <h4>Patios</h4>
        </a>
      </div>
      <div class="featured-product" style="
  background-image: url(./assets/images/slide06.jpg)">
        <a href="#">
          <i class="fa fa-newspaper-o"></i>
          <h4>Decks</h4>
        </a>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <!-- ====================== -->
  <!-- ===== START: PORTFOLIO -->
  <div id="portfolio">
    <div id="featured-projects">
      <div class="featured-projects">

        <div class="featured-project">
          <a href="#">
            <i class="fa fa-sun-o"></i>
            <h4>Residential Pools</h4>
          </a>
        </div>
        <div class="featured-project">
          <a href="#">
            <i class="fa fa-sun-o"></i>
            <h4>Waterfalls</h4>
          </a>
        </div>
        <div class="featured-project">
          <a href="#">
            <i class="fa fa-sun-o"></i>
            <h4>Spas</h4>
          </a>
        </div>

      </div>
    </div>
  </div><!-- #portfolio -->
</div><!-- .products-portfolio-wrapper -->
<div class="clearfix"></div>